<div class="page-header">
  <h1>People</h1>
</div>

<table class="table table-bordered">

  <thead>
    <th> First Name </th>
    <th>  Last Name</th>
    <th> Date Of Birth </th>
    <th> Eye Color </th>
    <th> Telephone Number </th>
    <th> Dog Name </th>
    <th> Dog Breed </th>
    <th> Dog Age </th>

  </thead>
  <% @people.each do |person| %>

  <tbody>

  </tbody>
  <% end %>

</table>
